[user]
	email = xudavidb@gmail.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
[alias]
  s = status -sb
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[help]
	autocorrect = 1
