[user]
	name = David
	email = xudavidb@gmail.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[alias]
  s = status -sb
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg =  log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[help]
	autocorrect = 1
