[user]
	name = David
	email = xudavidb@gmail.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	autocrlf = input
[alias]
  s = status -sb
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log --graph --full-history --all --color --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
[help]
	autocorrect = 1
